@import "_variables.scss";

.description{
    line-height: 2rem;
}

.line_break{
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.about_container{
    position:relative;
    font-size: 2rem;
    margin-top: 8rem;
}

.about_inner{
    font-size: 6rem;
    color:$white;
    text-shadow: 2px 2px 6px $lightgray;
    position: absolute;
    bottom:-2rem;
    left:0;
    z-index: -1;    
}

.icons_container{
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.icon{
    color:$black;
    font-size: 3em;
}