@import "_variables.scss";

.intro_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.rectangle{
    position: absolute;
    width: 64vw;
    height: 88vh;
    left: 4rem;
    bottom:5rem;
    border: 3rem double $lightgray;
    z-index: -1;
}

.first_name,
.last_name{
    font-size: 3em;
}

.first_name{
    color:$white;
    text-shadow: 1px 1px 5px $black;
}

.last_name{
    text-shadow: 1px 1px 5px $lightgray;
}

.description{
    font-size: 1.5rem;
}

.icons_container{
    display: flex;
    flex-direction: row;
    align-items: center;   
}

.icon{
    color:$black;
    font-size: 3em;
}

/*mobile responsive*/
@media (max-width: 40rem){
    .first_name,
    .last_name{
    font-size: 3em;
    }   
}

/*desktop responsive*/
@media (min-width: 40rem){
    .first_name,
    .last_name{
    font-size: 5em;
    }
}