@import "_variables.scss";

.intro_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.rectangle{
    position: absolute;
    width: 60vw;
    height: 75vh;
    left: 6rem;
    border: 3rem double $lightgray;
    z-index: -1;
}

.name_container{
    color:$black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    line-height: 7rem;
}

.description{
    font-size: 1.5rem;
}

.project_button_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $black;
    font-size: 1rem;
    border-radius: 3.125rem;
    width: 10rem;
    height: 3rem;
    margin: 2rem 0;
}

.project_button_container:hover{
    background-color: $white;
    .view_icon,
    .view_text{
        color: $black;
    }
}

.view_icon,
.view_text{
    color: $white;
}

/*mobile responsive*/
@media (max-width: 40rem){
    .name_container{
    font-size: 3em;
    }   
}

/*desktop responsive*/
@media (min-width: 40rem){
    .name_container{
    font-size: 6em;
    }
}