@import "_variables.scss";

.intro_container{
    position:relative;
    font-size: 2rem;
    margin-top: 5rem;
}

.intro_inner{
    font-size: 6rem;
    color:$white;
    text-shadow: 2px 2px 6px $lightgray;
    position: absolute;
    bottom:-2rem;
    left:0;
    z-index: -1;    
}

.line_break{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.about_button_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $black;
    font-size: 1rem;
    border-radius: 3.125rem;
    width: 10rem;
    height: 3rem;
    margin: 2rem 0;
}

.about_button_container:hover{
    background-color: $white;
    .view_icon,
    .view_text{
        color: $black;
    }
}

.view_icon,
.view_text{
    color: $white;
}

.image{
    object-position: center;
}

@supports(display: grid){
    .projects_container{
        display: grid;
    }
}
